*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}

.login-btn{
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
    font-weight: 400;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    font-size: 14px;

    background: linear-gradient(45deg, #ff6a00, #ee0979);

    border-radius: 30px;

    transition: all 0.3s ease;
}

.btn:hover{
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    transform: scale(1.05);
}

.content{
    margin-top: 10%;
    max-width: 600px;
    padding: 40px;
}

.content h1{
    font-size: 80px;
    color: #ffffff;
}

.content p{
    margin: 10px 0 30px;
    color: #f1f1f1;
    font-size: 18px;
}

.content .btn{
    padding: 15px 80px;
    font-size: 16px;
}

.features-img{
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
